/* Fonts */
@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Global */
:root {
  --basic-bg-green: #849D8F;
  --basic-bg-blue: #8996A6;
  --basic-blue-opacity-52: rgba(46, 136, 228, 0.52);
  --basic-bg-brown: #9D8B84;
  --basic-white: #FFFFFF;
  --basic-white-10: #FEFEFE;
  --basic-white-opacity-20: rgba(255, 255, 255, 0.2);
  --basic-white-opacity-50: rgba(255, 255, 255, 0.5);
  --basic-white-opacity-80: rgba(255, 255, 255, 0.8);
  --basic-red-50: #FBDED7;
  --basic-red-100: #FFBC9E;
  --basic-red-200: #F6B5A5;
  --basic-red-300: #F26843;
  --basic-red-400: #D07058;
  --basic-red-450: #E74A35;
  --basic-red: #E84D37;
  --basic-red-700: #AC1000;
  --basic-red-800: #942718;
  --basic-red-opacity-25: rgba(172, 16, 0, 0.25);
  --basic-red-opacity-64: rgba(172, 16, 0, 0.64);
  --basic-red-opacity-76: rgba(160, 32, 11, 0.76);
  --basic-gray-10: #F8F7F4;
  --basic-gray-50: #EDEDED;
  --basic-gray-100: #D3D3D2;
  --basic-gray-300: #999999;
  --basic-gray-opacity-30: rgba(50, 50, 50, 0.3);
  --basic-gray-opacity-50: rgba(49, 50, 53, 0.5);
  --basic-gray-opacity-52: rgba(178, 178, 178, 0.52);
  --basic-gray-450: #696969;
  --basic-gray-500: #5A5A5A;
  --basic-gray-800: #323232;
  --basic-black: #000000;
  --basic-black-opacity-7: rgba(0, 0, 0, 0.07);
  --basic-black-opacity-40: rgba(0, 0, 0, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-bg-green);
}

/* Main navigation */
.main-menu-item a {
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-white-opacity-20);
}

.main-menu-item a:hover,
.main-menu-item a:focus {
  border-bottom: none;
  color: var(--basic-gray-800);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.main-menu-item a:active {
  background-color: var(--basic-gray-50);
  box-shadow: inset 0 2px 1px var(--basic-gray-450);
}

.submenu {
  width: 143px;
  background-color: var(--basic-white);
  box-shadow: 0 20px 20px var(--basic-black-opacity-40);
  border-radius: 4px;
}

.submenu-item a {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: var(--basic-gray-800);
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.submenu-item:first-child a {
  font-weight: bold;
  line-height: 18px;
}

.submenu-item a:hover,
.submenu-item a:focus,
.submenu-item a:active {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.popup-search {
  width: 341px;
  padding: 20px 15px;
  background-color: var(--basic-gray-10);
  box-shadow: 0 20px 20px var(--basic-black-opacity-40);
  border-radius: 4px;
}

.text-field {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-gray-300);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-gray-100);
  border-radius: 4px;
}

.text-field:hover {
  border: 2px solid var(--basic-gray-opacity-52);
}

.text-field:focus,
.text-field:active {
  outline: 0;
  border: 1px solid var(--basic-blue-opacity-52);
}

.text-field:not(:placeholder-shown) {
  color: var(--basic-gray-800);
}

.user-button {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-button:not:first-child {
  border-radius: 20px;
}

.user-button:hover {
  color: var(--basic-gray-800);
  background-color: var(--basic-white);
}

.popup-authorization {
  width: 277px;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 22px;
  padding-left: 19px;
  background-color: var(--basic-gray-10);
  box-shadow: 0 20px 20px var(--basic-black-opacity-40);
  border-radius: 4px;
}

.search-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 0;
  border: none;
  color: var(--basic-white);
  text-shadow: 0 2px 5px var(--basic-red-opacity-76);
  background: linear-gradient(180deg, var(--basic-red-300) 0%, var(--basic-red-450) 100%);
  box-shadow: 0 2px 2px var(--basic-red-opacity-64);
  border-radius: 70px;
}

.button:hover {
  background: linear-gradient(0deg, var(--basic-white-opacity-20), var(--basic-white-opacity-20)), linear-gradient(180deg, var(--basic-red-300) 0%, var(--basic-red-450) 100%);
  box-shadow: 0 1px 2px var(--basic-red-700);
  /* border-radius: 26px; */ /* В стайлгайде border-radius: 26px, на главной 70px  */
}

.button:active {
  background: linear-gradient(0deg, var(--basic-black-opacity-7), var(--basic-black-opacity-7)), linear-gradient(180deg, var(--basic-red-300) 0%, var(--basic-red-450) 100%);
  box-shadow: inset 0 2px 2px var(--basic-red-800);
  /* border-radius: 26px; */ /* В стайлгайде border-radius: 26px, на главной 70px  */
}

.button-signin {
  line-height: 16px;
  box-shadow: 0 1px 2px var(--basic-red-opacity-25);
  border-radius: 26px;
  padding: 15px 25px;
  padding-right: 26px;
}

.form-authorization-links a{
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-gray-800);
  text-decoration: underline;
}

.form-authorization-links a:hover,
.form-authorization-links a:focus,
.form-authorization-links a:active {
  color: var(--basic-red);
}

.schedule {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.about-work a {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider h2 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  padding: 9px 23px;
}

.slider-button:hover,
.slider-button:focus {
  box-shadow: 0 2px 2px var(--basic-red-700);
}

.slider-button:active {
  box-shadow: inset 0 2px 2px var(--basic-red-800);
}

.stock {
  border-radius: 16px;
  padding: 16px;
}

.stock-rasberry {
  width: 560px;
  /* background: black url("../img/raspberry.jpg") 0 0 no-repeat ; */
}

.stock-chocolate {
  width: 560px;
  /* background: black url("../img/chocolates.jpg") 0 0 no-repeat ; */
}

.stock h3,
.stock p {
  margin: 0;
  padding: 0;
}

.stock-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.stock-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.stock-buy {
  padding: 15px 22px;
  padding-bottom: 16px;
}

.product-title {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-bottom: 1px solid var(--basic-white-opacity-20);
}

.product-photo {
  border-radius: 50%;
  overflow: hidden;
}

.product-price {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 1px 3px var(--basic-gray-opacity-50);
}

.product-price span {
  font-size: 30px;
  line-height: 35px;
}

.product-preview {
  padding: 12px 16px;
  text-shadow: none;
  background: linear-gradient(180deg, var(--basic-red-300) 0%, var(--basic-red) 100%);
  box-shadow: 0 1px 2px var(--basic-red-700);
  border-radius: 50px;
}

.company-activity {
  width: 1146px;
  padding: 24px 23px;
  padding-left: 20px;
  border-radius: 16px;
  color: var(--basic-gray-800);
  /* background: url("../img/pattern.jpg") repeat 0 0 ; */
}

.company-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.company-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.blog {
  width: 560px;
  padding: 23px 20px;
  border-radius: 16px;
  color: var(--basic-gray-800);
  /* background: var(--basic-white) url("../img/blog-background.jpg") no-repeat 0 0; */
}

.blog-heading {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-description {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.subscription {
  width: 548px;
  padding: 29px 20px;
  padding-right: 16px;
  border-radius: 16px;
  background-color: var(--basic-gray-10);
}

.subscription-description {
  margin: 0;
  padding: 0;
  color: var(--basic-gray-500);
}

.button-send {
  padding: 14px 19px;
  padding-bottom: 13px;
}

.map {
  width: 1200px;
  height: 430px;
  /* background: url("../img/map.jpg") no-repeat 0 0; */
}

.map-contacts {
  width: 303px;
  padding: 32px 25px;
  color: var(--basic-gray-800);
  background-color: var(--basic-white-10);
  border-radius: 16px;
}

.map-contacts p {
  margin: 0;
  padding: 0;
}

.map-description {
  font-size: 14px;
  line-height: 20px;
}

.map-address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

.map-phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-gray-800);
}

.button-feedback {
  padding: 13px 28px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--basic-white-opacity-50);
  background-color: var(--basic-white-opacity-80);
}

.footer-links a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-white-opacity-20);
}

.footer-links-icon {
  font-weight: bold;
}

.footer-links a:hover,
.link-htmlacademy:hover,
.footer-links a:focus,
.link-htmlacademy:focus,
.footer-links a:active,
.link-htmlacademy:active {
  border-bottom: none;
  color: var(--basic-red-100);
}

.footer-copyright p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.link-htmlacademy {
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-white-opacity-20);
}

.popup-feedback {
  width: 477px;
  padding: 20px 23px;
  background-color: var(--basic-gray-10);
  border-radius: 6px;
}

.popup-feedback h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--basic-gray-800);
}

.feedback-name-input,
.feedback-email-input {
  width: 267px;
  border: 1px solid var(--basic-gray-opacity-52);
}

.field-textarea {
  height: 154px;
  border: 1px solid var(--basic-gray-opacity-52);
}

.button-submit {
  padding: 14px 24px;
}

/* Inner page*/
.main-menu-current {
  background-color: var(--basic-red-400);
  border-radius: 26px;
}

.cart-popup {
  width: 539px;
  background-color: var(--basic-gray-10);
  box-shadow: 0 20px 20px var(--basic-black-opacity-40);
  border-radius: 4px;
}

.cart-table {
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-gray-800);
}

.cart-table img {
  border-radius: 50%;
}

.cart-product-qty {
  color: var(--basic-black);
}

.cart-total {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-gray-800);
}

.cart-button-buy {
  padding: 13px 15px;
  line-height: 16px;
  text-shadow: none;
  box-shadow: 0 1px 2px  var(--basic-red-opacity-25);
  border-radius: 26px;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-white-opacity-20);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
  border-bottom: none;
  color: var(--basic-red-100);
}

.breadcrumbs-item .breadcrumbs-current {
  border-bottom: none;
  color: var(--basic-white);
}

.main-heading {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.form-legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sorting {
  font-weight: 500;
  line-height: 18px;
  width: 196px;
  color: var(--basic-white);
  background-color: var(--basic-white-opacity-20);
  border: none;
  border-radius: 20px;
}

.sorting:hover {
  color: var(--basic-gray-800);
}

.sorting-item {
  color: var(--basic-black);
}

.form-sorting,
.form-price,
.form-fat,
.form-fillers {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-fat-row,
.filter-row {
  background-color: var(--basic-white-opacity-20);
  border-radius: 20px;
}

.filter-fat-row {
  width: 425px;
}

.form-fat label {
  line-height: 18px;
  font-weight: 500;
}

.filter-row {
  width: 711px;
  line-height: 18px;
  font-weight: 500;
}

.filter-fat-field,
.filter-field {
  display: inline-block;
}

.button-apply {
  width: 144px;
  line-height: 18px;
  font-weight: 500;
  padding: 9px 29px;
  color: var(--basic-white);
  background-color: var(--basic-white-opacity-20);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
}

.button-apply:hover,
.button-apply:active {
  background-color: var(--basic-white);
  color: var(--basic-gray-800);
}

.button-apply:active {
  box-shadow: inset 0 2px 1px var(--basic-gray-450);
}

.pagination-item a {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
}

.pagination-item a:hover {
  background-color: var(--basic-white-opacity-20);
}

.pagination-item a:active {
  background-color: var(--basic-white);
  color: var(--basic-gray-800);
}

.pagination-item .pagination-current {
  background-color: var(--basic-white);
  color: var(--basic-gray-800);
}

.submenu-current {
  background-color: var(--basic-red-400);
}

.submenu-item a[href]:hover {
  background-color: var(--basic-link-hover);
}

.submenu-item a[href]:active {
  background-color: var(--basic-red-200);
}

.cart .cart-button-current {
  color: var(--basic-gray-800);
}
